{:paths   ["src/main" "src/test"]

 :aliases {:provided
                {:extra-deps {org.clojure/clojure    {:mvn/version "1.9.0"}
                              thheller/shadow-cljs   {:mvn/version "2.6.12"}
                              org.clojure/core.async {:mvn/version "0.4.474"}
                              fulcrologic/fulcro     {:mvn/version "2.6.9"}}}

           :dev {:extra-paths ["src/workspaces"]

                 :extra-deps  {fulcrologic/fulcro-inspect {:mvn/version "2.2.4"}
                               binaryage/devtools         {:mvn/version "0.9.10"}
                               nubank/workspaces          {:mvn/version "1.0.0-preview9"}
                               fulcrologic/fulcro-spec    {:mvn/version "2.1.2"}}}}}
