{:paths   ["src/main"]

 :aliases {:provided
                    {:extra-deps {org.clojure/clojure    {:mvn/version "1.9.0"}
                                  thheller/shadow-cljs   {:mvn/version "2.7.2"}
                                  org.clojure/core.async {:mvn/version "0.4.474"}
                                 fulcrologic/fulcro     {:mvn/version "2.6.15"}}}

           :test    {:extra-paths ["src/test"]}

           :ci-test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-266"}}
                     :main-opts  ["-m" "kaocha.runner"]}

           :dev     {:extra-paths ["src/workspaces"]

                     :extra-deps  {fulcrologic/fulcro-inspect             {:mvn/version "2.2.4"}
                                   fulcrologic/semantic-ui-react-wrappers {:mvn/version "2.0.3"}
                                   binaryage/devtools                     {:mvn/version "0.9.10"}
                                   nubank/workspaces                      {:mvn/version "1.0.0-preview9"}
                                   fulcrologic/fulcro-spec                {:mvn/version "2.1.3"}}}}}
