#kaocha/v1
    {:tests    [{:id           :unit
                 :test-paths   ["src/test"]
                 :source-paths ["src/main"]}]
     :plugins  [:kaocha.plugin/randomize
                :kaocha.plugin/filter
                :kaocha.plugin/capture-output]}